.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    background-color:rgb(214, 147, 120);
}

#c-slide {
    height: 100vh;
    width: 100vw;
    background-size: auto 100%;
    background-position: center center;
}

#carousel-heading {
    padding-bottom: 1%;
    font-size: 60px;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}

#carousel-text {
    font-size: 35px;
    padding-bottom: 3%;
    font-weight: bold;
    color: gold;
    text-shadow: 2px 2px 5px rgb(15, 56, 63);
}

#carousel-button {
    border: none;
    border: 4px solid rgb(52, 129, 29);
    background: none;
    color: rgb(15, 56, 63);
    border-radius: 30px;
    width: 250px;
    cursor: pointer;
}

#button-spacing {
    padding-bottom: 2%;
}

#carousel-button:hover {
    border: none;
    border: 4px solid gold;
    background: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgb(15, 56, 63);
    color: rgb(15, 56, 63);
}

#carousel-button a {
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    color: rgb(133, 141, 110);
    font-size: 30px;
    font-weight: bolder;
}

#carousel-button a:hover {
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    color: gold;
    font-size: 30px;
    background: none;
    font-weight: bolder
}
/* <!-- styles --> */
body{
    height: 100%;
}
.container{
   height: 100%;
   align-content: center;
}

.image_outer_container{
   margin-top: auto;
   margin-bottom: auto;
   border-radius: 50%;
   position: relative;
}

.image_inner_container{
   border-radius: 50%;
   padding: 5px;
background: #833ab4; 
background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 5px solid white;
}

.image_outer_container .green_icon{
 background-color: #4cd137;
 position: absolute;
 right: 30px;
 bottom: 10px;
 height: 30px;
 width: 30px;
 border:5px solid white;
 border-radius: 50%;
} -->