{%extends 'base.html'%}
{%block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
{% endblock %}
{%block content%}
    <h1 style="font-family: 'Kaushan Script', cursive;">Children Category</h1>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/image1child.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Shirt and Trouser</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1000(full set)</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                    
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/image2child.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Vest and Short</p>
                                        <p>Material : Kitenge and Cotton</p>
                                        <p>Size : All available</p>
                                        <p>Price : 700(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/image3child.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Cap,Vestshirt and Trouser</p>
                                        <p>Material : Kitenge and cotton</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                        
                </div>
    </div>
    <div class="row" style="padding-top:130px;" >
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/image4child.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Nigerian Mordern Cloak</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1000</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                   
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/image5child.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Dress</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 700</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                    
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/image6child.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Dress</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 800</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
            </div>
    </div>
            <div class="row" style="padding-top:130px;">
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/image7child.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Full girl cloth trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1000</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/image8child.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Dress</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 600</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/image9child.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Girlcoat and tight</p>
                                        <p>Material : Kitenge and Cotton</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}