{%block content%}
<div>
    <h1>Children Category</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="../static/photos/image1.jpg" alt="no image" height="100" width="100">
            <img src="../static/photos/images2.jpeg" alt="no image">
            <img src="../static/photos/images3.jpeg" alt="image3">
            <img src="../static/photos/images4.jpeg" alt="image4">
            <img src="../static/photos/images5.jpeg" alt="image5">
            <img src="../static/photos/images6.jpeg" alt="image6">
            <img src="../static/photos/images7.jpeg" alt="image7">
            <img src="../static/photos/images8.jpeg" alt="image8">
            <img src="../static/photos/images9.jpeg" alt="image9">
        </div>
    </div>
</div>
{%endblock%}