{%extends 'base.html'%}
{%block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
{% endblock %}
{%block content%}
    <h1 style="font-family: 'Kaushan Script', cursive;">Children Category</h1>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/image1.jpg" alt="no image">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Women coat and trouser</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1100(full set)</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                    
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/images2.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Women coat and trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/images3.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Women coat and trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                        
                </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/images4.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Women coat and trouser</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1100(full set)</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                   
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/images5.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Women coat and trouser</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1100(full set)</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                    
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/children/images6.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Women coat and trouser</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1100(full set)</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
            </div>
    </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/images7.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Women coat and trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/images8.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Women coat and trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/children/images9.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Women coat and trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}