{% extends 'base.html'%}{% import 'bootstrap/wtf.html' as wtf%} {% block content %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>

<!-- <div class="row">
    <div class="Section1"> -->
<!-- beginning of carousel section -->
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img id='c-slide' src="../static/photo/category/c4.jpg" alt="children1">
            <div class="carousel-caption">
                <h3 id="carousel-heading">Children's Collection</h3>
                <p id="carousel-text">Browse our catalogue for the latest in Children's fashion</p>
                <div id="button-spacing"><button id="carousel-button"><a href="children.html">EXPLORE</a></button></div>
            </div>
        </div>
        <div class="carousel-item">
            <img id='c-slide' src="../static/photo/category/w7.jpg" alt="children2">
            <div class="carousel-caption">
                <h3 id="carousel-heading">Truly African</h3>
                <p id="carousel-text">Embrace a touch of tradition with the charming collection for women</p>
                <div id="button-spacing"><button id="carousel-button"><a href="children.html">EXPLORE</a></button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img id='c-slide' src="../static/photo/category/m6.jpg" alt="children3">
            <div class="carousel-caption">
                <h3 id="carousel-heading">Make your Man stand out</h3>
                <p id="carousel-text">Explore the latest in trendy designs for Men.</p>
                <div id="button-spacing"><button id="carousel-button"><a href="children.html">EXPLORE</a></button></div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <div class="carousel-control-next-icon"></div>
    </a>
</div>
<!-- end of carousel section -->
<!-- </div>
</div> -->

<div id="about-us">
    <h1>ABOUT US</h1>
    <p>When you work with us, you are part of a team of commited colaboraters.All aspects of our softwared development process are intergred, iterative and agile. </p>
    <p>Our approach unifies design,development and product management to create exceptional products.We start each project by understanding your bussiness goals,the user's needs and the product requirements.Then we have to translate them into effective and
        elegant solutions. </p>
</div>


<div class="Section5">
    <div class="row">
        <div class="col-md-5">
            <div id="feedback">
                <h4>Subscribe Now</h4>
                {{wtf.quick_form(SubscriptionForm)}}
            </div>
        </div>

        <div class="col-md-3">
            <div id="">
                <h4>Contact Us</h4>
                <div id="reach-us">
                    <hr id="line" />
                    <p><i class="fa fa-phone"></i> Phone:(+254)712345678</p>
                    <p><i class="fa fa-map-marker"></i> Location: Ngong Lane, Off Ngong Road</p>
                    <p><i class="fa fa-envelope"></i> Email: fa-shoni@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Quick Links</h4>
            <div id="page-links">
                <hr id="line" />
                <a href="#home"><i class="fa fa-home"></i> home</a><br />
                <a href="#what-we-do"><i class="fa fa-calendar"></i> Services</a><br />
                <a href="#register"><i class="fa fa-registered"></i> register</a><br />
                <a href="#login"><i class="fa fa-sign-in"></i> login</a><br />
            </div>
        </div>
    </div>
</div>



<!-- <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">

                {{wtf.quick_form(SubscriptionForm)}}

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div> -->



{% endblock %}