{%extends 'base.html'%}
{%block content%}
    <h1>Men Category</h1>
    <div class="row">
            <div class="col-md-4">
                    <img src="../static/photos/men/images1.jpeg" alt="no image">
                </div>
                <div class="col-md-4">
                        <img src="../static/photos/men/images2.jpeg" alt="no image">
                </div>
                <div class="col-md-4">
                        <img src="../static/photos/men/images3.jpeg" alt="image3">
                </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                    <img src="../static/photos/men/images4.jpeg" alt="image4">
            </div>
            <div class="col-md-4">
                    <img src="../static/photos/men/images5.jpeg" alt="image5">
            </div>
            <div class="col-md-4">
                    <img src="../static/photos/men/images 6.jpeg" alt="image6">
            </div>
    </div>
            <div class="row">
                <div class="col-md-4">
                        <img src="../static/photos/men/images 7.jpeg" alt="image7">
                </div>
                <div class="col-md-4">
                        <img src="../static/photos/men/images 8.jpeg" alt="image8">
                </div>
                <div class="col-md-4">
                        <img src="../static/photos/men/images 9.jpeg" alt="image9">
                </div>
            </div>
        </div>
    </div>
{%endblock%}