{%extends 'base.html'%}
{%block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
{% endblock %}
{%block content%}
    <h1 style="font-family: 'Kaushan Script', cursive;">Men Category</h1>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/men/image1men.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Shirt/Dennis</h2>
                                    <p>Type :Shirt and Trouser</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 1100(full set)</p>
                                    <p>Designed by : Dennis</p>
                                    <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                  </div> 
                            </div>
                          </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/men/image2men.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Shirt/Esther</h2>
                                        <p>Type : Shirt</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 700</p>
                                        <p>Designed by : Esther N</p>
                                        <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/men/image3men.jpg" alt="no image" style="height:400px;width:300px;" >
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Shirt/Juliet</h2>
                                        <p>Type : Shirt and Trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>Designed by : Juliet</p>
                                        <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
    </div>
    <div class="row" style="padding-top:130px;">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/men/image4men.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Sweater/Karumba</h2>
                                    <p>Type : Sweater</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 700</p>
                                    <p>Designed by : John Karumba</p>
                                    <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                              </div> 
                            </div>
                        </div>
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/men/image5men.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Hood/Buy</h2>
                                    <p>Type : Hood</p>
                                    <p>Material : Kitenge and silk</p>
                                    <p>Size : All available</p>
                                    <p>Price : 600</p>
                                    <p>Designed by:Buy Me</p>
                                    <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                  </div> 
                            </div>
                          </div>
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/men/image6men.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Sweater/Pass</h2>
                                    <p>Type : Sweater</p>
                                    <p>Material : Silk</p>
                                    <p>Size : All available</p>
                                    <p>Price : 500</p>
                                    <p>Designed by : Pass me not</p>
                                    <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                  </div> 
                            </div>
                          </div>
            </div>
    </div>
</div>
            <div class="row" style="padding-top:130px;">
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/men/image7men.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Cap/Roy</h2>
                                        <p>Type : Cap and Shirt</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1000(full set)</p>
                                        <p>Designed by : Roy</p>
                                        <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/men/image8men.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Cloth/William</h2>
                                        <p>Type : Full cloth</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1300(full set)</p>
                                        <p>Designed by : William</p>
                                        <p>To Contact designer visit<a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/men/image9men.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Shirt/Wilstan</h2>
                                        <p>Type : Shirt and Trouser</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1100(full set)</p>
                                        <p>Designed by : Wilstan</p>
                                        <p>To Contact designer visit <a style="color:red;" href="{{url_for('designers')}}"> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}