{%extends 'base.html'%}
{%block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
{% endblock %}
{%block content%}
    <h1 style="font-family: 'Kaushan Script', cursive;">Men Category</h1>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image1.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" >
                                <h2>Paris</h2>
                                <p>What an amazing city</p>
                              </div> 
                            </div>
                          </div>
                    <img src="../static/photos/men/images1.jpeg" alt="no image">
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image1.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" >
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                  </div> 
                                </div>
                              </div>
                        <img src="../static/photos/men/images2.jpeg" alt="no image">
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image1.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" >
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                  </div> 
                                </div>
                              </div>
                        <img src="../static/photos/men/images3.jpeg" alt="image3">
                </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image1.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" >
                                <h2>Paris</h2>
                                <p>What an amazing city</p>
                              </div> 
                            </div>
                          </div>
                    <img src="../static/photos/men/images4.jpeg" alt="image4">
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image1.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" >
                                <h2>Paris</h2>
                                <p>What an amazing city</p>
                              </div> 
                            </div>
                          </div>
                    <img src="../static/photos/men/images5.jpeg" alt="image5">
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image1.jpeg" alt="no image">
                              </div>
                              <div class="flip-card-back" >
                                <h2>Paris</h2>
                                <p>What an amazing city</p>
                              </div> 
                            </div>
                          </div>
                    <img src="../static/photos/men/images 6.jpeg" alt="image6">
            </div>
    </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image1.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" >
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                  </div> 
                                </div>
                              </div>
                        <img src="../static/photos/men/images 7.jpeg" alt="image7">
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image1.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" >
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                  </div> 
                                </div>
                              </div>
                        <img src="../static/photos/men/images 8.jpeg" alt="image8">
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image1.jpeg" alt="no image">
                                  </div>
                                  <div class="flip-card-back" >
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                  </div> 
                                </div>
                              </div>
                        <img src="../static/photos/men/images 9.jpeg" alt="image9">
                </div>
            </div>
        </div>
    </div>
{%endblock%}