{% extends 'base.html' %}
{% block styles %}
{{super()}}



<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/cart.css">




<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
      crossorigin="anonymous"></script>

<script src="../static/js/cart.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
{% endblock %}
{%block content%}
<h1 style="font-family: 'Kaushan Script', cursive;">Women Category</h1>


<section class="details">
      <div class="col-md-6">
            <p></p>
      </div>
      <div class="col-md-3">
            <p></p>
      </div>
      <div class="col-md-3 cart-picture">
            <i class="fa fa-shopping-cart"></i>
            <p id="cart-items">0</p>
      </div>
</section>
<div class="cart-full">

</div>
<section class="header">
      <div class="row" id="header">
      </div>
</section>



<div class="row">
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image10women.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title1">Blouse/Check</h2>
                              <p>Type : Blouse</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price1">Price : 500(full set)</p>
                              <p>Designed by :Check me</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart1">
                        </div>
                  </div>
            </div>
      </div>
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image2wo.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title2">Cloth/Vincent</h2>
                              <p>Type : Full cloth</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price2">Price : 1000</p>
                              <p>Designed by: Vincent</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart2">
                        </div>
                  </div>
            </div>

      </div>
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image3wo.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title3">Cloth/Hamida</h2>
                              <p>Type: Full cloth</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price3">Price : 1000</p>
                              <p>Designed by : Hamida</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart3">
                        </div>
                  </div>
            </div>
      </div>
</div>
<div class="row" style="padding-top:130px;">
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image4wo.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title4">Dress/Kepgetich</h2>
                              <p>Type : full dress</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price4">Price : 700</p>
                              <p>Designed By : Kepgetich</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart4">
                        </div>
                  </div>
            </div>
      </div>
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image5wo.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title5">Cloth/Annete</h2>
                              <p>Type : full cloth</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price5">Price : 900</p>
                              <p>Designed by : Annete</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart5">
                        </div>
                  </div>
            </div>

      </div>
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image6wo.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title6">Dress/Solomon</h2>
                              <p>Type : Full dress</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price6">Price : 700</p>
                              <p>Designed by : Solomon Mdogo</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart6">
                        </div>
                  </div>
            </div>
      </div>
</div>
<div class="row" style="padding-top:130px;">
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image7wo.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title7">Dress/Kitenge</h2>
                              <p>Type : dress</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price7">Price : 800</p>
                              <p>Designed by : Kitenge org</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart7">
                        </div>
                  </div>
            </div>
      </div>
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image8women.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title8">Dress/Fancy</h2>
                              <p>Type : Dress</p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price8">Price : 600</p>
                              <p>Designed by : Fancy clothes</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart8">
                        </div>
                  </div>
            </div>
      </div>
      <div class="col-md-4 price">
            <div class="flip-card">
                  <div class="flip-card-inner">
                        <div class="flip-card-front">
                              <img src="../static/photos/women/image9women.jpg" alt="no image"
                                    style="height:400px;width:300px;">
                        </div>
                        <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                              <h2 class="title9">Cloth/Clothes</h2>
                              <p>Type : Full cloth </p>
                              <p>Material : Kitenge</p>
                              <p>Size : All available</p>
                              <p class="price9">Price : 1000</p>
                              <p>Designed by : Clothes company</p>
                              <p>To Contact designer visit<a style="color:red;" href="{{url_for('main.designers')}}">
                                          here</a></p>
                              <img src="../static/photos/add2.png" alt="" srcset="" class="addcart9">
                        </div>
                  </div>
            </div>
      </div>
</div>
</div>
</div>
{% endblock %}
