{%extends 'base.html'%}
{%block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
{% endblock %}
{%block content%}
    <h1 style="font-family: 'Kaushan Script', cursive;">Women Category</h1>
    <div class="row">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image10women.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                <h2>Description</h2>
                                <p>Type : Blouse</p>
                                <p>Material : Kitenge</p>
                                <p>Size : All available</p>
                                <p>Price : 500(full set)</p>
                                <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                              </div> 
                            </div>
                          </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image2wo.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Full cloth</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1000</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                        
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image3wo.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type: Full cloth</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1000</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
    </div>
    <div class="row" style="padding-top:130px;">
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image4wo.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : full dress</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 700</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image5wo.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : full cloth</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 900</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
                    
            </div>
            <div class="col-md-4">
                    <div class="flip-card" >
                            <div class="flip-card-inner" >
                              <div class="flip-card-front" >
                                    <img src="../static/photos/women/image6wo.jpg" alt="no image" style="height:400px;width:300px;">
                              </div>
                              <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                    <h2>Description</h2>
                                    <p>Type : Full dress</p>
                                    <p>Material : Kitenge</p>
                                    <p>Size : All available</p>
                                    <p>Price : 700</p>
                                    <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                  </div> 
                            </div>
                          </div>
            </div>
    </div>
            <div class="row" style="padding-top:130px;">
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image7wo.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : dress</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 800</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image8women.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Dress</p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 600</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="flip-card" >
                                <div class="flip-card-inner" >
                                  <div class="flip-card-front" >
                                        <img src="../static/photos/women/image9women.jpg" alt="no image" style="height:400px;width:300px;">
                                  </div>
                                  <div class="flip-card-back" style="font-family: 'Gloria Hallelujah', cursive;">
                                        <h2>Description</h2>
                                        <p>Type : Full cloth </p>
                                        <p>Material : Kitenge</p>
                                        <p>Size : All available</p>
                                        <p>Price : 1000</p>
                                        <p>To Contact designer visit<a style="color:red;" href=""> here</a></p>
                                      </div> 
                                </div>
                              </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}